body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(18, 245, 215);
}

.quem-somos{
    background-color: #8633F2;
    color: white;
}

.margin{
    padding-top: 40px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #E34BFA;
    color: white;
}

.servicos{
    color: black;
}

.bg-footer{
    background-color: black;
    color: white;
}

.bg-footer i{
    color: red;
}

.blueBoot{
    color: blue;
}
